.header {
	position: relative;
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.6),
			rgba($color-primary-dark, 0.6)
		),
		url('../img/hero-small.jpg');
	background-size: cover;
	background-position: top;

	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	//* media queries
	@include respond(tab-port) {
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	}

	//media query based on device dpi and screen width
	@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
		only screen and (min-width: 125em),
		(-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em) {
		background-image: linear-gradient(
				to right bottom,
				rgba($color-tertiary-light, 0.6),
				rgba($color-tertiary-dark, 0.6)
			),
			url('../img/hero.jpg');
	}

	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}

	&__logo {
		height: 35px;
	}

	&__text-box {
		text-align: center;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
