//! GLOBAL RESET
*,
*::before,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // sets 1rem to 10px
	scroll-behavior: smooth;

	// ! media queries
	//width < 1200?
	@include respond(tab-land) {
		font-size: 56.25%; //1rem = 9px 9/16 = 60%
	}

	//width < 900?
	@include respond(tab-port) {
		font-size: 50%; //1rem = 8px 8/16 = 50%
	}

	//width > 1800?
	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px 12/16 = 75%
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	//* media queries
	@include respond(tab-port) {
		padding: 0;
	}
}

::selection {
	background-color: $color-primary;
	color: $color-white;
}
