.u-center-text {
	text-align: center;
}

//margins bottom
.u-margin-bottom-big {
	margin-bottom: 8rem;
}

.u-margin-bottom-medium {
	margin-bottom: 4rem;
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem;
}

//margins top
.u-margin-top-big {
	margin-bottom: 8rem;
}
.u-margin-top-huge {
	margin-bottom: 10rem;
}
